<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.mapper.BookMapper">

	<!-- admin 새책 추가하기 -->
	<!--  
	<insert id="insertBook" parameterType="com.itwill.domain.Book">
		insert into book
		(book_no,isbn,book_title,book_author,book_publisher,book_summary,
		book_publish_date,book_input_date,book_image,book_image_src,book_page,
		book_qty,book_res_cnt,book_rental_cnt,category_no)
		values
		(seq_book_book_no.nextval,
		#{isbn},#{book_title},#{book_author},#{book_publisher},#{book_summary},
		#{book_publish_date},#{book_input_date},#{book_image},#{book_image_src},#{book_page},
		#{book_qty},#{book_res_cnt},#{book_rental_cnt},#{category_no})
	</insert>

	 북 상세 페이지 
	<select id="selectBookDetail" parameterType="int"
		resultType="com.itwill.domain.Book">
		select
		book_no,isbn,book_title,book_author,book_publisher,book_summary,
		book_publish_date,book_input_date,book_image,book_image_src,book_page,
		book_qty,book_res_cnt,book_rental_cnt,category_no
		from book
		where
		book_no=#{book_no}
	</select>

	대여시 책재고 감소 
	<update id="updateRentalBookQty" parameterType="int">
		update book
		set
		book_qty = book_qty-1
		where
		book_no=#{book_bo}
	</update>

	 반납시 책재고 증가 
	<update id="updateReturnBookQty" parameterType="int">
		update book
		set
		book_qty = book_qty+1
		where
		book_no=#{book_bo}
	</update>

	전체 반납시 (admin) 
	<update id="updateById" parameterType="String">
		update book
		set book_qty = book_qty +1
		where booK_no in
		(
		select r.book_no
		from rental r
		inner join user_info u
		on r.user_id =
		u.user_id
		where u.user_id = #{user_id}
	</update>

	각각 반납시 (admin) 
	<update id="updateByIdNo" parameterType="map">
		update book
		set book_qty = book_qty +1
		where booK_no in (
		select r.book_no
		from rental r
		inner join user_info u
		on r.user_id = u.user_id
		where u.user_id = #{user_id}
		and r.book_no=#{book_no}
	</update>
	
	
	도서 전체 출력 
	<select id="selectAll" resultType="com.itwill.domain.Book">
		select book_no,isbn,book_title,book_author,book_publisher,book_summary,
			   book_publish_date,book_input_date,book_image,book_image_src,book_page,
			   book_qty,book_res_cnt,book_rental_cnt,category_no 
		from book order by book_no asc
	</select>
	-->
	
</mapper>